.nav {
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #024f87, #0f939b, #7DA0CA);
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  margin-left: 10px;

  img {
    max-width: 15%;
    height: auto;
    padding: 0rem 0rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

h3 {
  color: white;
  margin: 0 16px;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

h3:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

/* Barra de pesquisa */
form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  max-width: 60%;
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid white;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease;
  flex-shrink: 0;
}

form i {
  font-size: 20px;
  color: #6c6e6d;
  margin-left: 5px;
  margin-right: 1px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input {
  width: 100%;
  height: 35px;
  line-height: 30px;
  font-size: 1.2em;
  border-radius: 20px;
  margin-top: 0.8px;
  padding: 0 20px;
  border: none;
  outline: none;
}

/* Icone de Login */
.user i {
  color: white;
  font-size: 41px;
  margin-left: 105px;
  cursor: pointer;
}

.user-name {
  color: white;
  margin-left: 8px;
  font-size: 1.1em;
}

// Slogan
h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Container */
.container {
  padding: 30px 20px;
  text-align: center;
  margin-top: 20px;
}

/* Grade dos cards */
.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

/* Estilo base do card */
.card {
  border: 3px solid #052659;
  padding: 20px;
  background-color: white;
  color: #052659;
  text-align: left;
  font-size: 16px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
}

.card h2 {
  text-align: center;
}

.card p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.6;
  padding: 5px 5px 5px 5px;
  color: black;
}

.card:nth-child(3) {
  margin-bottom: 30px;
}

.imagem {
  grid-column: 2 / 3;
  width: 390px;
  height: 370px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #052659;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #f2f2f2;
  overflow: hidden;

  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 50%;
    }
}

/* Footer */
.footer {
  width: 99,9%;
  height: 35px;
  background: linear-gradient(to right, #024f87, #0f939b, #7DA0CA);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: auto;
  left: auto;
  z-index: 1;
  margin-top: 25px;
  border: solid 1px white;
  margin-bottom: 1px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
  margin-left: 20px;
}

.social-icons .icon {
  background-color: #ffffff;
  color: #052659;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icons .icon:hover {
  background-color: #052659;
  color: #ffffff;
  transform: scale(1.1);
}

