body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 80px;
}

.nav {
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #024f87, #0f939b, #7DA0CA);
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Estilo para a logo */
.logo {
  margin-left: 10px;

  img {
    max-width: 15%;
    height: auto;
    padding: 0rem 0rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

// texto para os links da nav
h3 {
  color: white;
  margin: 0 16px;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

h3:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

/* Barra de pesquisa */
form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  max-width: 60%;
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid white;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease;
  flex-shrink: 0;
}

form i {
  font-size: 20px;
  color: #6c6e6d;
  margin-left: 5px;
  margin-right: 1px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


/* Input da pesquisa */
.input {
  width: 100%;
  height: 35px;
  line-height: 30px;
  font-size: 1.2em;
  border-radius: 20px;
  margin-top: 0.8px;
  padding: 0 20px;
  border: none;
  outline: none;
}

/* Icone de Login */
.user i {
  color: white;
  font-size: 41px;
  margin-left: 70px;
  cursor: pointer;
}

.user-name {
  color: white;
  margin-left: 8px;
  font-size: 1.1em;
}

/* Carrossel */
.carrossel {
  position: relative;
  width: 1400px;
  height: 355px;
  margin: 120px auto; // Centraliza o carrossel
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}

.carrossel-images {
  display: flex;
  // transition: transform 0.5s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.prev,
.next {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Perguntas */
.perguntas-container {
  max-width: 1300px;
  margin: 50px auto; // Centraliza o container
  padding: 0 20px; // Espaçamento lateral
  display: flex;
  flex-direction: column;
  gap: 40px; // Espaçamento entre as perguntas
}

.faq {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  padding: 25px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.faq[open] {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.faq summary {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.faq summary::-webkit-details-marker {
  display: none;
}

.faq summary::before {
  content: '\2B9F';
  font-size: 20px;
  color: #444;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.faq[open] summary::before {
  transform: rotate(-180deg);
}

.faq p {
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}

/* Carrossel de Logos */
.logo-carousel {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}

.logo-track {
  display: flex;
  gap: 30px;
  width: fit-content;
  animation: scrollLogos 20s linear infinite;
}

.logo-item {
  min-width: 230px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid #ddd;
  transition: transform 0.1s ease;
}

.logo-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Footer */
.footer {
  width: 100%;
  height: 35px;
  background: linear-gradient(to right, #024f87, #0f939b, #7DA0CA);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: auto;
  left: auto;
  z-index: 1;
  margin-top: 40px;

}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}

.social-icons .icon {
  background-color: #ffffff;
  color: #052659;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icons .icon:hover {
  background-color: #052659;
  color: #ffffff;
  transform: scale(1.1);
}
