<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/sobre.css" >
  <link rel="stylesheet" href="/css/style.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
  <div class="nav">
    <!-- Botão do menu hamburguer -->
    <div class="menuImg" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>

    <!-- Menu que será exibido/ocultado -->
    <div class="menu-mobile" id="mobileMenu">
      <a href="/">Home</a>
      <a href="/sobre">Sobre Nós</a>
      <a href="/curiosidades">Curiosidades</a>
      <a href="#">Escanear QrCode</a>
      <a href="#">Administrador</a>
    </div>

     <!-- Logo -->
    <div class="logo">
      <img src="/image/Logo.png" alt="Logo" />
    </div> 

    <!-- Barra de pesquisa -->
    <form>
        <i class="fas fa-search"></i>
        <input type="text" class="input" placeholder="Procurando alguma coisa?" />
    </form>

    <!-- Icone de Login -->
    <div class="user">
      <a href="/login">
        <img src="image/user.png" alt="Logo">
      </a>
    </div>
  </div>

  <div class="h1">
    <h1>Transforme seu tratamento. Com MedTime, a tecnologia cuida de você, dose a dose.</h1>
  </div>
  <!-- Cards -->
<div class="container">
  <div class="cards-grid">
    <div class="card"> <!-- 1 -->
      <h2>Conheça o MedTime</h2>
      <p>O MedTime nasceu com o propósito de simplificar a gestão da saúde, transformando o cuidado com medicamentos em uma rotina fácil e segura. Acreditamos que a tecnologia pode ser uma grande aliada para o bem-estar de todos, especialmente de nossos idosos.
Nosso objetivo é oferecer uma plataforma acessível, intuitiva e confiável, que auxilie usuários no controle de horários, dosagens e informações importantes sobre seus medicamentos.
Com o MedTime, buscamos promover mais autonomia, segurança e qualidade de vida, tanto para pacientes quanto para cuidadores e familiares. Cuidar da saúde nunca foi tão fácil, inteligente e humano.</p>
    </div>

    <div class="card"> <!-- 2 -->
      <h2>Nossa Objetivo</h2>
      <p>Nosso objetivo? Mais que controlar horários: queremos democratizar o acesso à informação médica, garantir segurança no uso de medicamentos e oferecer autonomia para que cada pessoa possa cuidar da própria saúde com confiança.
Acreditamos que todos merecem ter controle sobre seus tratamentos, entender o que estão tomando e por que, e se sentirem amparados em cada etapa do cuidado.
O MedTime foi pensado para ir além da tecnologia — é sobre empatia, acessibilidade e inclusão. Queremos transformar o modo como as pessoas se relacionam com sua saúde, tornando o cuidado mais simples, inteligente e próximo da realidade de cada usuário.</p>
    </div>

    <div class="card"> <!-- 3 -->
      <h2>Por Trás do MedTime</h2>
      <p>O MedTime é o resultado de um projeto final de estudos, dedicado, desenvolvido por Iasmin de Arruda, Giovana Miguel e Isabella Romão.
Somos três estudantes apaixonadas por tecnologia, saúde e inovação, unidas pelo propósito de criar soluções que impactem positivamente a vida das pessoas.
Ao longo do curso técnico em Desenvolvimento de Sistemas, enfrentamos desafios reais, estudamos profundamente sobre acessibilidade digital e entendemos a importância de criar uma aplicação que fosse, acima de tudo, útil, prática e humana.
Cada linha de código foi pensada com cuidado, cada tela planejada com empatia.
Mais do que um projeto acadêmico, o MedTime é um reflexo do nosso compromisso com o futuro da saúde digital e com o bem-estar de todos.</p>
    </div>

    <div class="imagem">
      <img src="/image/foto.png" alt="Descrição da imagem">
    </div>
 <!-- 4 -->
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://instagram.com/medtime.3" target="_blank" class="icon"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com" target="_blank" class="icon"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank" class="icon"><i class="fab fa-twitter"></i></a>
      <a href="https://linkedin.com" target="_blank" class="icon"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
  
</body>
<script src="/js/script.js"></script>
</html>