<div class="nav">
  <div class="logo">
    <img src="assets/img/Logo.png" alt="logo">
  </div>

  <h3 (click)="irParaSobreNos()">Sobre Nós</h3>
  <h3 (click)="voltar()" style="cursor: pointer">Voltar</h3>

  <form>
    <i class="fas fa-search"></i>
    <input type="text" class="input" placeholder="Procurando alguma coisa?">
  </form>

  <div class="user">
    <i class="fas fa-user-circle" (click)="irParaLogin()"></i>
  </div>
</div>

<h1>Curiosidade do Dia</h1>

<div class="curiosidade">
  <div class="texto">
    <h2>Você sabia que a hidratação é fundamental para a absorção de medicamentos?</h2>
    <p>
      A água auxilia na dissolução e no transporte dos princípios ativos dos remédios pelo organismo, facilitando sua
      absorção no trato gastrointestinal. Além disso, a hidratação adequada contribui para o bom funcionamento dos rins,
      órgão essencial na metabolização e excreção dos medicamentos. Por isso, beber água regularmente não só melhora a
      saúde geral, como também potencializa o efeito dos tratamentos medicamentosos.
    </p>
  </div>
  <div class="imagem">
    <img src="assets/img/img1.svg" alt="Img">
  </div>
</div>

<div class="curiosidade">
  <div class="texto">
    <h2>Dormir bem fortalece o sistema imunológico?</h2>
    <p>
      Durante o sono, especialmente nas fases mais profundas, o corpo produz citocinas proteínas que ajudam a combater
      infecções, inflamações e o estresse. A privação do sono reduz a produção dessas substâncias, enfraquecendo a
      resposta imunológica. Pessoas que dormem menos de 6 horas por noite têm maior risco de ficarem doentes após a
      exposição a vírus, como o da gripe.
    </p>
  </div>
  <div class="imagem">
    <img src="assets/img/img2.svg" alt="Img">
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://instagram.com/medtime.3" target="_blank" class="icon"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com" target="_blank" class="icon"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com" target="_blank" class="icon"><i class="fab fa-twitter"></i></a>
      <a href="https://linkedin.com" target="_blank" class="icon"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
