:host {
  display: block;
  padding-top: 100px;
  min-height: 100vh;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #024f87, #0f939b, #7DA0CA);
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  margin-left: 10px;

  img {
    max-width: 15%;
    height: auto;
    padding: 0rem 0rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

h3 {
  color: white;
  margin: 0 16px;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

h3:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

/* Barra de pesquisa */
form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  max-width: 60%;
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid white;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease;
  flex-shrink: 0;
}

form i {
  font-size: 20px;
  color: #6c6e6d;
  margin-left: 5px;
  margin-right: 1px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input {
  width: 100%;
  height: 35px;
  line-height: 30px;
  font-size: 1.2em;
  border-radius: 20px;
  margin-top: 0.8px;
  padding: 0 20px;
  border: none;
  outline: none;
}

/* Icone de Login */
.user i {
  color: white;
  font-size: 41px;
  margin-left: 125px;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #052659;
  margin-bottom: 40px;
}

// Container da Curiosidade
.curiosidade {
  width: 900px;
  height: 300px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  border: 3px solid #052659;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.texto {
  width: 55%;
  margin: 0 auto;
}

.texto h2 {
  font-size: 19px;
  font-weight: bold;
  color: #052659;
  margin-bottom: 10px;
  text-align: center;
}

.texto p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  text-align: justify;
}

.imagem {
  width: 25%;
  height: 300px;
  background-color: #cce3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;

  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 20px;
    }
}

/* Footer */
.footer {
  width: 100%;
  height: 35px;
  background: linear-gradient(to right, #024f87, #0f939b, #7DA0CA);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: auto;
  left: auto;
  z-index: 1;
  margin-top: 55px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
  margin-left: 20px;
}

.social-icons .icon {
  background-color: #ffffff;
  color: #052659;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icons .icon:hover {
  background-color: #052659;
  color: #ffffff;
  transform: scale(1.1);
}
